<!-- templates/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Student Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Student Management System</h1>

      <div class="alert" id="alert"></div>

      <div class="form-container">
        <form id="studentForm">
          <div class="form-group">
            <input type="text" id="api_key" placeholder="API KEY" required />
          </div>
          <div class="form-group">
            <input type="text" id="name" placeholder="Student Name" required />
          </div>
          <div class="form-group">
            <input
              type="number"
              id="age"
              placeholder="Age"
              required
              min="1"
              max="150"
            />
          </div>
          <div class="form-group">
            <input type="text" id="grade" placeholder="Grade" required />
          </div>

          <div class="button-group">
            <button type="submit">Register Student</button>
            <button type="button" onclick="viewStudents()">
              View All Students
            </button>
          </div>
        </form>
      </div>

      <div class="student-table" id="studentList"></div>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>
